:root {
  --color-black: #222;

  --color-dialog-frame: #def;
  --color-dialog-content: #658fcf;

  --color-dialog-button: #58e;
  --color-dialog-button-selected: #c8f;

  --radius-dialog-lg: 60px;
  --radius-dialog-md: 50px;
  --radius-dialog-sm: 26px;
}
