/* LCARS overrides */

.right-frame {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.left-frame {
    justify-content: initial;
    padding-top: 50px;
}

h1 {
    margin: 0px;
}

label {
    margin-right: 8px;
}

.sidebar-buttons {
    cursor: pointer;
    height: 100%;
    /* TODO : this is for the "HUB STATE" button and should be moved there */
    min-height: 138px;
}

.sidebar-buttons a {
    border-bottom: 1px solid #000;
}

/* convenience  */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
    flex-shrink: 0;
}

.padded-1 {
    padding: 8px 12px;
}

/* App specific */
.content {
    height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 20px 20px 15px;
}

.button.selected a {
    background-color: #747;
}

.wrap {
    max-width: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}
