.container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    user-select: none;
}

.textLabels {
    display: flex;
    min-width: 100px;
    flex-direction: column;
    justify-content: space-between;
}

.currentAngle {
    position: absolute;
    top: 80px;
    left: 200px;
}

.angleInputContainer {
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    align-items: baseline;
}

.angleInput {
    width: 70px;
    height: 35px;
    font-size: large;
    background-color: #9cf;
}
