.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
}

.visualization {
    position: absolute;
    min-width: 100px;
    height: 100%;
    width: 100%;
}

.controls {
    position: absolute;
    right: 0px;
    top: -50px;
    width: 300px;
    height: calc(100% + 50px);
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #0d0d0d88;
}
