.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.visualization {
    min-width: 500px;
    flex-grow: 1;
    height: 100%;
}

.controls {
    width: 300px;
    flex-grow: 0;
}
