/* LCARS overrides */

.right-frame {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.left-frame {
    justify-content: initial;
    padding-top: 50px;
}

h1 {
    margin: 0px;
}

label {
    margin-right: 8px;
}

.sidebar-buttons {
    height: 100%;
    /* TODO : this is for the "HUB STATE" button and should be moved there */
    min-height: 138px;
}

.sidebar-buttons a {
    cursor: pointer;
    border-bottom: 1px solid #000;
}

.sidebar-buttons a.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.sidebar-buttons a.selected {
    background-color: #2d42a87c;
}

.sidebar-buttons a.secondary {
    border-bottom: #11e 1px solid;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    text-overflow: ellipsis;
    text-align: left;
    padding: 20px;
    position: relative;
    transition: top 3s;
    width: 100%;

    /* override lcars */
    text-transform: none !important;
}

/* convenience  */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
    flex-shrink: 0;
}

.padded-1 {
    padding: 8px 12px;
}

/* App specific */
.content {
    height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 20px 20px 15px;
}

.button.selected a {
    background-color: #747;
}

.wrap {
    max-width: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}
