.container {
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s;
}

.title {
    align-self: center;
    margin: 20px 0px;
    color: #11e;
}

.positionList {
    overflow-y: auto;
    flex: 1;
}

.hasSelected {
    opacity: 0;
}

.positionItem {
    border-bottom: #11e 1px solid;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    text-overflow: ellipsis;
    text-align: left;
    padding: 20px;
    position: relative;
    transition: top 3s;
    width: 100%;

    /* override lcars */
    text-transform: none !important;
}

.positionItem:hover {
    background-color: rgba(42, 90, 186, 0.5);
    border-bottom: #11e 2px solid;
}

.selectedItem {
    position: absolute;
    top: 0;
    font-weight: 600;
    cursor: auto;
}

.selectedItem:hover {
    background-color: #58e;
}
