.container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0px 20px;
    background-color: #2d42a87c;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: default;
    text-align: left;
    font-weight: 400;
}


.close {
    position: absolute;
    left: 1px;
    top: 1px;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 14px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 7px;
    margin-right: 10px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.close:hover {
    background-color: #2d42a8;
}

.title {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    margin-right: 7px;
}

.name {
    flex-grow: 1;
    overflow-wrap: anywhere;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.description {
    text-align: left;
    font-style: italic;
    font-size: 15px;
    padding: 10px;
    margin-right: 7px;
    max-height: 100px;
    overflow-y: scroll;
}

