@import '../vars.css';


.button {
  text-align: center !important;
  margin-right: 24px;
}

.button a {
  background-color: var(--color-dialog-button) !important;
  width: auto !important;
  padding-left: 20px !important;
}

.buttonSelected a {
  background-color: var(--color-dialog-button-selected) !important;
}
